<a href="https://colab.research.google.com/github/AzadMehedi/Pandas/blob/main/MultiIndex_Series_and_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
import pandas as pd

# Series is 1D and DataFrames are 2D objects

- But why?
- And what exactly is index?

In [8]:
# can we have multiple index? Let's try
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ece',2019),('ece',2020),('ece',2021),('ece',2022)]
a = pd.Series([1,2,3,4,5,6,7,8],index=index_val)
a

(cse, 2019)    1
(cse, 2020)    2
(cse, 2021)    3
(cse, 2022)    4
(ece, 2019)    5
(ece, 2020)    6
(ece, 2021)    7
(ece, 2022)    8
dtype: int64

In [9]:
a[('cse',2022)]

4

In [5]:
# the problem
a['cse']

KeyError: ignored

In [17]:
# how to create multiindex object
# 1. pd.MultiIndex.from_tuples()
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ece',2019),('ece',2020),('ece',2021),('ece',2022)]
multiindex = pd.MultiIndex.from_tuples(index_val)
print(multiindex)
print(multiindex.levels)
print(multiindex.levels[0])
print(multiindex.levels[1])

# 2. pd.MultiIndex.from_product()
pd.MultiIndex.from_product([['cse','ece'],[2019,2020,2021,2022]])

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ece', 2019),
            ('ece', 2020),
            ('ece', 2021),
            ('ece', 2022)],
           )
[['cse', 'ece'], [2019, 2020, 2021, 2022]]
Index(['cse', 'ece'], dtype='object')
Int64Index([2019, 2020, 2021, 2022], dtype='int64')

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ece', 2019),
            ('ece', 2020),
            ('ece', 2021),
            ('ece', 2022)],
           )

In [18]:
# level inside multiindex object

In [21]:
# creating a series with multiindex object
s = pd.Series([1,2,3,4,5,6,7,8], index=multiindex)
s

cse  2019    1
     2020    2
     2021    3
     2022    4
ece  2019    5
     2020    6
     2021    7
     2022    8
dtype: int64

In [22]:
# how to fetch items from such a series
s[('cse',2021)]

3

In [23]:
s['cse']

2019    1
2020    2
2021    3
2022    4
dtype: int64

In [24]:
# a logical question to ask - can we convert multiindex series into dataframe? -> yes

In [28]:
# unstack()
temp = s.unstack()
temp

     2019  2020  2021  2022
cse     1     2     3     4
ece     5     6     7     8

In [29]:
# return to original
# stack()
temp.stack()

cse  2019    1
     2020    2
     2021    3
     2022    4
ece  2019    5
     2020    6
     2021    7
     2022    8
dtype: int64

In [31]:
# Then what was the point of multiindex series?

In [33]:
# multiindex dataframe
branch_df1 = pd.DataFrame(
    [
        [1,2],
        [3,4],
        [5,6],
        [7,8],
        [9,10],
        [11,12],
        [13,14],
        [15,16],
    ],
    index = multiindex,
    columns = ['avg_package','students']
)

branch_df1

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ece 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [34]:
branch_df1.loc['cse']

      avg_package  students
2019            1         2
2020            3         4
2021            5         6
2022            7         8

In [35]:
branch_df1.loc['ece']

      avg_package  students
2019            9        10
2020           11        12
2021           13        14
2022           15        16

In [37]:
branch_df1['avg_package']

cse  2019     1
     2020     3
     2021     5
     2022     7
ece  2019     9
     2020    11
     2021    13
     2022    15
Name: avg_package, dtype: int64

In [38]:
branch_df1['students']

cse  2019     2
     2020     4
     2021     6
     2022     8
ece  2019    10
     2020    12
     2021    14
     2022    16
Name: students, dtype: int64

In [39]:
# Are columns really different from index?

In [42]:
# multiindex df from columns perspective
branch_df2 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0]
    ],
    index = [2019,2020,2021,2022],
    columns = pd.MultiIndex.from_product([['Dhaka', 'Chittagong'],['avg_package','students']])
)
branch_df2

           Dhaka           Chittagong
     avg_package students avg_package students
2019           1        2           0        0
2020           3        4           0        0
2021           5        6           0        0
2022           7        8           0        0

In [51]:
branch_df2['Dhaka']

      avg_package  students
2019            1         2
2020            3         4
2021            5         6
2022            7         8

In [52]:
 branch_df2['Chittagong']

      avg_package  students
2019            0         0
2020            0         0
2021            0         0
2022            0         0

In [53]:
 branch_df2['Chittagong']['avg_package']

2019    0
2020    0
2021    0
2022    0
Name: avg_package, dtype: int64

In [55]:
branch_df2.loc[2019]

Dhaka       avg_package    1
            students       2
Chittagong  avg_package    0
            students       0
Name: 2019, dtype: int64

In [57]:
# Multiindex df in terms of both cols and index
branch_df3 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
        [9,10,0,0],
        [11,12,0,0],
        [13,14,0,0],
        [15,16,0,0],
    ],
    index = multiindex,
    columns = pd.MultiIndex.from_product([['Dhaka','Chittagong'],['avg_package','students']])
)
branch_df3

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

# Stacking and Unstacking

In [69]:
branch_df1

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ece 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [70]:
branch_df1.unstack()

    avg_package                students
           2019 2020 2021 2022     2019 2020 2021 2022
cse           1    3    5    7        2    4    6    8
ece           9   11   13   15       10   12   14   16

In [71]:
branch_df1.unstack().unstack()

avg_package  2019  cse     1
                   ece     9
             2020  cse     3
                   ece    11
             2021  cse     5
                   ece    13
             2022  cse     7
                   ece    15
students     2019  cse     2
                   ece    10
             2020  cse     4
                   ece    12
             2021  cse     6
                   ece    14
             2022  cse     8
                   ece    16
dtype: int64

In [82]:
branch_df1.unstack().stack()

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ece 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [83]:
branch_df1.unstack().stack().stack()

cse  2019  avg_package     1
           students        2
     2020  avg_package     3
           students        4
     2021  avg_package     5
           students        6
     2022  avg_package     7
           students        8
ece  2019  avg_package     9
           students       10
     2020  avg_package    11
           students       12
     2021  avg_package    13
           students       14
     2022  avg_package    15
           students       16
dtype: int64

In [85]:
branch_df2.unstack()

Dhaka       avg_package  2019    1
                         2020    3
                         2021    5
                         2022    7
            students     2019    2
                         2020    4
                         2021    6
                         2022    8
Chittagong  avg_package  2019    0
                         2020    0
                         2021    0
                         2022    0
            students     2019    0
                         2020    0
                         2021    0
                         2022    0
dtype: int64

In [86]:
branch_df2

           Dhaka           Chittagong
     avg_package students avg_package students
2019           1        2           0        0
2020           3        4           0        0
2021           5        6           0        0
2022           7        8           0        0

In [87]:
branch_df2.stack()

                  Chittagong  Dhaka
2019 avg_package           0      1
     students              0      2
2020 avg_package           0      3
     students              0      4
2021 avg_package           0      5
     students              0      6
2022 avg_package           0      7
     students              0      8

In [88]:
branch_df2.stack().stack()

2019  avg_package  Chittagong    0
                   Dhaka         1
      students     Chittagong    0
                   Dhaka         2
2020  avg_package  Chittagong    0
                   Dhaka         3
      students     Chittagong    0
                   Dhaka         4
2021  avg_package  Chittagong    0
                   Dhaka         5
      students     Chittagong    0
                   Dhaka         6
2022  avg_package  Chittagong    0
                   Dhaka         7
      students     Chittagong    0
                   Dhaka         8
dtype: int64

In [89]:
branch_df3

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [90]:
branch_df3.unstack()

          Dhaka                                         Chittagong            \
    avg_package                students                avg_package
           2019 2020 2021 2022     2019 2020 2021 2022        2019 2020 2021
cse           1    3    5    7        2    4    6    8           0    0    0
ece           9   11   13   15       10   12   14   16           0    0    0


         students
    2022     2019 2020 2021 2022
cse    0        0    0    0    0
ece    0        0    0    0    0

In [91]:
branch_df3.unstack().unstack()

Dhaka       avg_package  2019  cse     1
                               ece     9
                         2020  cse     3
                               ece    11
                         2021  cse     5
                               ece    13
                         2022  cse     7
                               ece    15
            students     2019  cse     2
                               ece    10
                         2020  cse     4
                               ece    12
                         2021  cse     6
                               ece    14
                         2022  cse     8
                               ece    16
Chittagong  avg_package  2019  cse     0
                               ece     0
                         2020  cse     0
                               ece     0
                         2021  cse     0
                               ece     0
                         2022  cse     0
                               ece     0
            students     2019  cse     0
                               ece     0
                         2020  cse     0
                               ece     0
                         2021  cse     0
                               ece     0
                         2022  cse     0
                               ece     0
dtype: int64

In [92]:
branch_df3

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [93]:
branch_df3.stack()

                      Chittagong  Dhaka
cse 2019 avg_package           0      1
         students              0      2
    2020 avg_package           0      3
         students              0      4
    2021 avg_package           0      5
         students              0      6
    2022 avg_package           0      7
         students              0      8
ece 2019 avg_package           0      9
         students              0     10
    2020 avg_package           0     11
         students              0     12
    2021 avg_package           0     13
         students              0     14
    2022 avg_package           0     15
         students              0     16

In [94]:
branch_df3.stack().stack()

cse  2019  avg_package  Chittagong     0
                        Dhaka          1
           students     Chittagong     0
                        Dhaka          2
     2020  avg_package  Chittagong     0
                        Dhaka          3
           students     Chittagong     0
                        Dhaka          4
     2021  avg_package  Chittagong     0
                        Dhaka          5
           students     Chittagong     0
                        Dhaka          6
     2022  avg_package  Chittagong     0
                        Dhaka          7
           students     Chittagong     0
                        Dhaka          8
ece  2019  avg_package  Chittagong     0
                        Dhaka          9
           students     Chittagong     0
                        Dhaka         10
     2020  avg_package  Chittagong     0
                        Dhaka         11
           students     Chittagong     0
                        Dhaka         12
     2021  avg_package  Chittagong     0
                        Dhaka         13
           students     Chittagong     0
                        Dhaka         14
     2022  avg_package  Chittagong     0
                        Dhaka         15
           students     Chittagong     0
                        Dhaka         16
dtype: int64

##### summary:
- unstack  -> row converts to columns
- stack -> columns converts to row

# Working with multiindex dataframes

In [101]:
# head and tail
branch_df3.head()
# shape
branch_df3.shape
# info
branch_df3.info()
# duplicated -> isnull
branch_df3.duplicated()
branch_df3.isnull()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8 entries, ('cse', 2019) to ('ece', 2022)
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   (Dhaka, avg_package)       8 non-null      int64
 1   (Dhaka, students)          8 non-null      int64
 2   (Chittagong, avg_package)  8 non-null      int64
 3   (Chittagong, students)     8 non-null      int64
dtypes: int64(4)
memory usage: 932.0+ bytes

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019       False    False       False    False
    2020       False    False       False    False
    2021       False    False       False    False
    2022       False    False       False    False
ece 2019       False    False       False    False
    2020       False    False       False    False
    2021       False    False       False    False
    2022       False    False       False    False

In [103]:
# Extracting rows single
branch_df3

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [105]:
# single row   -> find out:  2022	7	8	0	0
branch_df3.loc[('cse',2022)]

Dhaka       avg_package    7
            students       8
Chittagong  avg_package    0
            students       0
Name: (cse, 2022), dtype: int64

In [107]:
# multple    -> findout: 1,3,5 index row
branch_df3.loc[('cse',2019):('ece',2020):2]

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2021           5        6           0        0
ece 2019           9       10           0        0

In [111]:
# using iloc
# find out:  1st row
branch_df3.iloc[0]

Dhaka       avg_package    1
            students       2
Chittagong  avg_package    0
            students       0
Name: (cse, 2019), dtype: int64

In [112]:
# using iloc
# find out:  findout: 1,3,5 index row
branch_df3.iloc[0:5:2]

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2021           5        6           0        0
ece 2019           9       10           0        0

In [113]:
# Extracting cols
branch_df3

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [114]:
# find out Dhaka informations
branch_df3['Dhaka']

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ece 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [120]:
# find out: Dhaka->student
branch_df3['Dhaka']['students']

cse  2019     2
     2020     4
     2021     6
     2022     8
ece  2019    10
     2020    12
     2021    14
     2022    16
Name: students, dtype: int64

In [121]:
# extracting multiple columns
branch_df3

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [124]:
# findout: Dhaka->students & Chittagong->avg_package
branch_df3.iloc[:,1:3]

            Dhaka  Chittagong
         students avg_package
cse 2019        2           0
    2020        4           0
    2021        6           0
    2022        8           0
ece 2019       10           0
    2020       12           0
    2021       14           0
    2022       16           0

In [125]:
# extracting both
branch_df3

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [127]:
# findout row: cse->1, ece->1   col: Dhaka->students, Chittagong->avg_package
branch_df3.iloc[[0,4],[1,2]] # fancy indexing

            Dhaka  Chittagong
         students avg_package
cse 2019        2           0
ece 2019       10           0

In [128]:

branch_df3

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [129]:
# sort_index
branch_df3.sort_index(ascending=False)

               Dhaka           Chittagong
         avg_package students avg_package students
ece 2022          15       16           0        0
    2021          13       14           0        0
    2020          11       12           0        0
    2019           9       10           0        0
cse 2022           7        8           0        0
    2021           5        6           0        0
    2020           3        4           0        0
    2019           1        2           0        0

In [130]:
branch_df3.sort_index(ascending=[False,True])

               Dhaka           Chittagong
         avg_package students avg_package students
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0

In [132]:
# both -> descending -> diff order
branch_df3.sort_index(level=1,ascending=False)
# branch_df3.sort_index(level=0,ascending=False)

               Dhaka           Chittagong
         avg_package students avg_package students
ece 2022          15       16           0        0
cse 2022           7        8           0        0
ece 2021          13       14           0        0
cse 2021           5        6           0        0
ece 2020          11       12           0        0
cse 2020           3        4           0        0
ece 2019           9       10           0        0
cse 2019           1        2           0        0

In [133]:

branch_df3

               Dhaka           Chittagong
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [134]:
# multiindex dataframe(col) -> transpose   (row<->col)
branch_df3.transpose()

                        cse                 ece
                       2019 2020 2021 2022 2019 2020 2021 2022
Dhaka      avg_package    1    3    5    7    9   11   13   15
           students       2    4    6    8   10   12   14   16
Chittagong avg_package    0    0    0    0    0    0    0    0
           students       0    0    0    0    0    0    0    0

In [136]:
# swaplevel
# swaplevel->row
branch_df3.swaplevel()

               Dhaka           Chittagong
         avg_package students avg_package students
2019 cse           1        2           0        0
2020 cse           3        4           0        0
2021 cse           5        6           0        0
2022 cse           7        8           0        0
2019 ece           9       10           0        0
2020 ece          11       12           0        0
2021 ece          13       14           0        0
2022 ece          15       16           0        0

In [138]:
#swaplevel->col
branch_df3.swaplevel(axis=1)

         avg_package students avg_package   students
               Dhaka    Dhaka  Chittagong Chittagong
cse 2019           1        2           0          0
    2020           3        4           0          0
    2021           5        6           0          0
    2022           7        8           0          0
ece 2019           9       10           0          0
    2020          11       12           0          0
    2021          13       14           0          0
    2022          15       16           0          0