<a href="https://colab.research.google.com/github/AzadMehedi/Pandas/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

# Pandas Series
A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [1]:
import pandas as pd
import numpy as np

In [2]:
country = ['Bangladesh', 'India', 'Pakistan','Nepal','Srilanka']
pd.Series(country)

0    Bangladesh
1         India
2      Pakistan
3         Nepal
4      Srilanka
dtype: object

In [19]:
# integers
runs = [32,43,12,57,100]
run_series = pd.Series(runs)
run_series

0     32
1     43
2     12
3     57
4    100
dtype: int64

In [6]:
from re import sub
# custom index
marks = [43,64,85,75,100]
subjects = ['math','eng','science','politics','social']
pd.Series(marks, index=subjects)

math         43
eng          64
science      85
politics     75
social      100
dtype: int64

In [7]:
# setting a name
pd.Series(marks, index=subjects, name='Mehedi Azad marks')

math         43
eng          64
science      85
politics     75
social      100
Name: Mehedi Azad marks, dtype: int64

# Series from dictionary

In [8]:
marks = {
    'math':78,
    'english':89,
    'Science':57,
    'Bangla':90

}

In [12]:
mark_series = pd.Series(marks, name='Mehedi mark')       # here mark_series is an object of Series class
                                                         # mark_series can access all the attributes of the Series class
mark_series

math       78
english    89
Science    57
Bangla     90
Name: Mehedi mark, dtype: int64

# Series Attributes

In [13]:
# size
mark_series.size

4

In [14]:
# dtype
mark_series.dtype

dtype('int64')

In [16]:
# name
mark_series.name

'Mehedi mark'

In [17]:
# is_unique
mark_series.is_unique

# pd.Series([1,1,2,3,5,5,4,3]).is_unique

False

In [21]:
# index
print(mark_series.index)

run_series.index

Index(['math', 'english', 'Science', 'Bangla'], dtype='object')

RangeIndex(start=0, stop=5, step=1)